body{
    background-color: rgb(38, 38, 38);
    height: 100%;
    background-size: cover;
    font-size: 18px;
}

.kotak-div {
    display: grid;
    height: 100%;
    align-content: center;
    grid-template-columns: 70% 30% ;
    justify-content: space-between;
    gap: 12px;
    margin: 50px 130px; 
}

.konten  {
    background-color: rgba(59, 59, 59, 0.8);
    width: 100%;
    text-align: left;
    padding-bottom: 20px;
}

.konten h1 {
    font-size: 18px;
    padding-left: 8px;
    padding-bottom: 10px;
    color: rgb(228, 228, 228);
    border-bottom: 1px solid;
}

.konten-div {
    display: grid;
    align-content: center;
    grid-template-columns: 50% 50% ;
    row-gap: 20px;
}

.sidebar {
    background-color: rgba(59, 59, 59, 0.8);
    width: 100%;
    text-align: left;
}

.sidebar h1 {
    font-size: 18px;
    padding-left: 8px;
    padding-bottom: 10px;
    color: rgb(228, 228, 228);
    border-bottom: 1px solid;
}

#navbar {
    display: flex;
    width: 100%;
    overflow: hidden;
    background-color: grey;
    align-items: center;
    margin: -8px -10px 0px -10px;
    padding-left: 150px;
    gap: 10px;

}

#navbar input {
    padding: 3px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-style: groove;
    width: 200px;
    height: 17px;
}

#navbar a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 26px;
}

#navbar2 {
    display: flex;
    overflow: hidden;
    background-color: rgb(162, 68, 68);
    align-items: center;
    margin: 0px -10px 0px -10px;
    padding: 0px 200px 0px 200px;
}

#navbar p {
    color: #f2f2f2;
    font-size: 20px;
    padding-left: 18px;
}

#navbar2 a {
    align-items: center;
    color: #f2f2f2;
    text-align: center;
    padding: 12px;
    margin: 4px;
    text-decoration: none;
    background-color: none;
}

#navbar2 ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.sidebar ol li a {
    text-decoration: none;
    color: #dfdfdf;
}

.artikel1 {
    display:flex;
    font-size: 12px;
    padding-left: 20px;
    gap: 20px;
    color: #dfdfdf;
}

.artikel2 {
    display:flex;
    font-size: 12px;
    padding-left: 20px;
    gap: 20px;
    color: #dfdfdf;
}

.artikel3 {
    display:flex;
    font-size: 12px;
    padding-left: 20px;
    gap: 20px;
    color: #dfdfdf;
}

.artikel4 {
    display:flex;
    font-size: 12px;
    padding-left: 20px;
    gap: 20px;
    color: #dfdfdf;
}

.artikel5 {
    display:flex;
    font-size: 12px;
    padding-left: 20px;
    gap: 20px;
    color: #dfdfdf;
}

.artikel6 {
    display:flex;
    font-size: 12px;
    padding-left: 20px;
    gap: 20px;
    color: #dfdfdf;
}

.artikel7 {
    display:flex;
    font-size: 12px;
    padding-left: 20px;
    gap: 20px;
    color: #dfdfdf;
}

.artikel8 {
    display:flex;
    font-size: 12px;
    padding-left: 20px;
    gap: 20px;
    color: #dfdfdf;
}

.artikel9 {
    display:flex;
    font-size: 12px;
    padding-left: 20px;
    gap: 20px;
    color: #dfdfdf;
}

.artikel1 a {
    text-decoration: none;
    color: #dfdfdf;
}

.artikel2 a {
    text-decoration: none;
    color: #dfdfdf;
}

.artikel3 a {
    text-decoration: none;
    color: #dfdfdf;
}

.artikel4 a {
    text-decoration: none;
    color: #dfdfdf;
}

.artikel5 a {
    text-decoration: none;
    color: #dfdfdf;
}

.artikel6 a {
    text-decoration: none;
    color: #dfdfdf;
}

.artikel7 a {
    text-decoration: none;
    color: #dfdfdf;
}

.artikel8 a {
    text-decoration: none;
    color: #dfdfdf;
}

.artikel9 a {
    text-decoration: none;
    color: #dfdfdf;
}

#navbar .search-box {
    float: right;
}

#navbar .search-box input {
    background-color: grey;
}

#navbar .search-box button {
  
}

.menubar {
    display:none;
    flex-direction: column;
    height: 30px;
    justify-content: space-between;
    position: absolute;
    right: 40px;
    cursor: pointer;
}

.menubar span {
    display: block;
    background-color: rgb(0, 0, 0);
    width: 30px;
    height: 3px;
}

.sidebar ol li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 12px;
    color: #dfdfdf;
}

footer {
    text-align: center;
    color: #f2f2f2;
    font-size: 18px;
}

@media screen and (max-width: 1080) {
    .menubar span {
        display: none;
    }
}
  
@media screen and (max-width: 576px) {
    .menubar {
        display: flex;
    }
    #navbar ul {
        display: none ;
    }
}
  
@media screen and (max-width: 768px) {
    
}